
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


header {
    background-color: #e70611;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}


h1 {
    font-size: 38px;

}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #484848;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333; 
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    color: #E70612;
}


.game-container {
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.game-content {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.choices button,
.testimonials img 
{
    border: 2px solid #b2c9c9; 
    border-radius: 10px;
    margin: 5px;
    padding: 8px 16px;
}

.choices button:hover {
    background-color: #2980b9;
}


.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #b2c9c9;
}

.thestate {
    margin: 10px;
    padding: 8px 16px;
    border: 2px solid #b2c9c9;
    background-color: #f4f4f4;
    border-radius: 20px;
    text-align: center;
  }

#resultSection {
    border-radius: 20px;
    margin: 10px;
    padding: 8px 16px;
    text-align: center;
    background-color: #f4f4f4;
    border: 2px solid #b2c9c9;
}

.score-container {
    margin-top: 5px;
    text-align: center;
    background-color:  #e70611;
    color: #fff;
    border: 2px solid #b2c9c9;
    border-radius: 20px;
    padding: 0px;
}


#descriptionContainer {
    display: none;
    
}

#descriptionContainer.open {
    display: block;
    padding-right: 100px;
} 


#whiteSpace{
    height: 200px;
}

#backToHome {
    position: fixed;
    bottom: 30px; 
    right: 30px; 
    padding: 5px 5px;
    border: none;
    cursor: pointer;
  }
  
  #backToHome img {
    width: 50px;
    height: 50px;
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #E70612;
    color: #fff;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

